<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>


<body style="font-size:20px; padding:50px;">

<header>
    <% include ./partials/_header %>
</header>


<a href ='urls/new'>Create New TinyUrl</a>

<table style="width:100%">

 <tr>
    <th>Your Website</th>
    <th>TinyURL</th>
  </tr>

<% for(let key in urls) { %>
<tr>

    <td><%= urls[key] %></td>
    <td><a href="<%= urls[key] %>" target="_blank"><%= key %></a></td>
    <td><a href="<%= key %>">EDIT</a></td>
    <td><form method="POST" action="/urls/<%= key %>/delete">
    	<button type="submit" class="btn btn-primary">DELETE</button>
    </form>
    </td>
<% } %>
</tr>

</table>


</body>


</html>